# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 80
trim_trailing_whitespace = true

# Specific settings for JavaScript files
[*.js]
indent_size = 2
max_line_length = 100
quote_type = double

# Specific settings for JSON files
[*.json]
indent_size = 2
quote_type = double

# Specific settings for Markdown files
[*.md]
max_line_length = 120
trim_trailing_whitespace = false

# Specific settings for YAML files
[*.yml]
indent_size = 2
insert_final_newline = false
